work/.quarto
work/data/*
work/fire_data/*
work/svg/*
work/genesis/tests/data*

# любые проекты карты QGIS (подразумевается, что пользователь сам загрузит все что нужно)
*.qgs

# Пока запретил отпракву папки с готовой документацией в GitHub, чтобы не загружать репозиторий.
work/documentation/*

# Временные файлы
*__pycache__*
*cache*
/.luarc.json

# Для MAC
*.DS_Store

# файлы данных для тестирования
/work/genesis/tests/data

/work/docs/pages/genesis
/work/docs/pages/fire_units
/work/docs/pages/graphs
/work/docs/pages/lists
/work/docs/venv
/work/docs/pages/data
/work/genesis/_data
/work/genesis/.venv
/work/genesis/dist
/work/genesis/genesis_spatial_opt.egg-info
