work/.quarto
work/data/*
work/fire_data/*
work/svg/*
work/genesis/tests/data*

# любые проекты карты QGIS (подразумевается, что пользователь сам загрузит все что нужно)
*.qgs

# Пока запретил отпракву папки с готовой документацией в GitHub, чтобы не загружать репозиторий.
work/documentation/*

# Временные файлы
*__pycache__*
*cache*
/.luarc.json

# Для MAC
*.DS_Store


/work/genesis/tests/data
work/genesis/dis*
